---
import { formatDate } from "@/lib/util";
// import Embed from "../components/Embed.astro";
const { post } = Astro.props;
---

<li class="flex flex-col sm:flex-row sm:items-center gap-4 p-4 rounded-lg shadow-md border border-gray-100 transition-transform duration-300 group hover:scale-[1.02]">
  {post.data.image && (
    <img 
      src={post.data.image.src} 
      alt={post.data.imageAlt || post.data.title} 
      class="w-20 h-20 object-cover rounded-md"
    />
  )}
  <div class="flex-1">
    <a href={`/blog/${post.slug}`} class="block hover:text-blue-300 transition-colors duration-200">
      <h3 class="text-xl font-semibold">{post.data.title}</h3>
    </a>
    <p class="text-sm text-gray-500">{post.data.description}</p>
    <div class="text-xs text-gray-400 mt-1">
      {formatDate(post.data.publicationDate)}
    </div>
  </div>
</li>
